/* Gallery CSS */






/* Changes the background colour of navigation bar to black*/
nav { 
	background-color:#292F33;
	
	

}

/* aligns the entrance text to be in the middle and also gives it a border and background. */
h1 {
	text-align: center;
	color:white;
	border: 4px solid white;
	background-color: black;
	
}
/* Adjusts the navigation bar text horizontally and changes the text to white*/
nav div a{

	color: white;
	padding: 14px 16px;
	text-decoration: none; /* removes underscore */
	display: inline-block;
	font-size: 17px;
	
}

/*reference  https://www.w3schools.com/css/css_image_gallery.asp */



/* Gives the image a border, resizes it, centers it and gives the opacity a transition*/
img {
	border-radius: 30px;
	border: 10px solid white;
	width: 100%;
	height: auto;
	transition:  0.2s;

	
}

/* Hovering over the message dims the image*/
img:hover{
	opacity: 0.5;
	cursor: pointer;

}


/* Changes the colour of the text + navigation bar when you hover over it*/
nav div a:hover{
	background-color: #484f4f;
	color: white;

}


/* centers the description above the photo*/
div.description{
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 30px
	

}


/*reference  https://www.w3schools.com/css/css_image_gallery.asp */


/* reference https://www.w3schools.com/tags/tag_div.ASP  */

/* Brings everything below the nav bar into the center of the screen*/
div.gallery{
	display: block; 
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	width: 50%;
	
	
	
}

/* Allowing the text in the picture to be positioned in the middle and to change the style */
div.mid{
	transition: 0.2s;
	opacity: 0;
	text-align: center;	
	font-weight: bold;
  
}

/* turns the message black*/
div.clickMessage{
	color: white;
	font-size:19px;
	
    

}


/* hovering over the image reveals the text*/
.galleryPhotos:hover .mid {
	opacity: 1;

}

/* reference https://www.w3schools.com/tags/tag_div.ASP  */








/* Reference https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_page */

/* This @media lines allow the website to be responsive/accessible to other devices besides pc*/
@media screen and (max-width: 720px){
	.galleryPhotos{
		
		width: 100%;
		height: auto;
	}
	
}


/* Reference https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_page */








