/* Gallery CSS */
/*
Fonts obtained from google - https://fonts.google.com/ 

font-family: 'Hedvig Letters Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans 3', sans-serif;
font-family: 'Press Start 2P', sans-serif;
*/


/* Changes the font of the nav icons */
li{
	font-family: 'Hedvig Letters Serif', serif;
	color: white;
	
	
	
}


#info{
	text-align: center;
	font-family: 'Hedvig Letters Serif', serif;
}


/* aligns the header text to be in the middle and also gives it a border and background. */
h1 {
	text-align: center;
	color:white;
	border: 4px solid black;
	background-color: black;
	font-family: 'Roboto', sans-serif;

/* reference https://www.w3schools.com/cssref/css3_pr_border-radius.php */	
}
/* Adjusts the navigation bar text horizontally and changes the text to white*/
nav ul a{

	color: white;
	padding: 14px 16px;
	text-decoration: none; /* removes underscore */
	display: inline-block;
	font-size: 17px;
/* reference https://www.w3schools.com/cssref/css3_pr_border-radius.php */		
}







/*reference  https://www.w3schools.com/css/css_image_gallery.asp */



/* Gives the images a border, resizes it, centers it*/
img {
	border-radius: 30px;
	border: 10px solid white;
	height: auto;
	width: 100%;
	
	

	
}
/* Reference https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
/* Hovering over the images, dims it and changes the cursor to a pointer*/
img:hover{
	opacity: 0.5;
	cursor: pointer;
	transition:  0.2s ease; 
}


/* Changes the colour of the text + navigation bar when you hover over it*/
nav ul a:hover{
	background-color: #484f4f;
	color: white;
/* Reference https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
}



/* centers the description above the photo*/
#description{
	font-family: 'Source Sans 3', sans-serif;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 30px
	


}


/*reference  https://www.w3schools.com/css/css_image_gallery.asp */




/* reference https://www.w3schools.com/tags/tag_div.ASP  */




/*Reference https://www.w3schools.com/howto/howto_css_images_side_by_side.asp 
  Reference 2 https://support.w3schools.com/hc/en-gb/articles/4410240180113-How-do-I-center-images- 
*/

/* Brings everything below the nav bar into the center of the screen, and makes the images 25% of their size*/
div.gallery{
	padding: 0 6px;
	width: 25%;
    margin-left: auto;
	margin-right: auto;
	
	
	
	
}



/*Reference https://www.w3schools.com/howto/howto_css_images_side_by_side.asp 
  Reference 2 https://support.w3schools.com/hc/en-gb/articles/4410240180113-How-do-I-center-images- 
*/

/* Turns the click hover message text invisible, centers it and bolds it. */
div.mid{
	transition: 0.2s;
	opacity: 0;
	text-align: center;	
	font-weight: bold;
  
}

/* turns the click message red + gives it an italics font */
div.clickMessage{
	color: red;
	font-size:25px;
	font-style: italic;
	
	
    

}


/* hovering over the image reveals the text*/
.galleryPhotos:hover .mid {
	opacity: 1;

}

/* reference https://www.w3schools.com/tags/tag_div.ASP  */








/* Reference https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_page */


/*As long as the screen is above 1000px, it will be 4 images side by side. If it is less than 1000px, there will be stacked on top of each other */
@media screen and (min-width: 1000px){
	.gallery{
		margin: 6px 0; /* creates space around the images */
		float: left;
	}
}
		
		
		


/* Reference https://www.w3schools.com/html/tryit.asp?filename=tryhtml_responsive_page */








